
.bg_header{
    background-color: #d46d9f1d;
    
    height: 150px;
}

.home_header{
    font-size: 60px;
    /* font-family: 'Allura', cursive; */
    /* font-family: 'Dancing Script', cursive; */
    /* font-family: 'Great Vibes', cursive; */
    font-family: 'Marck Script', cursive;
    /* font-family: 'Pacifico', cursive; */
    color: #5e2f58;
    text-align: center;
    text-decoration: underline;
    padding-top: 30px;

}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .home_header{
        font-size: 30px;

    }
    .bg_header{
        height: 100px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
.bg_header{
    width: 100%;
}
    
}