@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Dancing+Script&family=Great+Vibes&family=Marck+Script&family=Pacifico&family=Playball&display=swap');

.bg-navigation{
    background-color: #f5e6ed6e;
}
.bg-header{
    background-color: #d46d9f62;
    height: 150px;
}
.btn-card{
    background-color: #53c7e6;
}
.review-btn{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 20px;


    /* position: relative;
    right: 20px; */
}
.review-btn button{
background-color: #d46d9e;
}
.reviews{
    margin-top: 40px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.621);
}
.side-category-name{
    color: #5e2f58;
}
.side-category-name li{
    font-size: larger;
    font-weight:500 ;
    margin-top: 10px;
}
.side-category-name li:hover{
    background-color: #d46d9f62;
}
.article-img{
    width: 900px;
    height: 600px;
    overflow: hidden;
}
.logo{
    width: 100px;
    height: 80px;
}

.brand-name {
    margin-top: 40px;
    font-size: 40px;
font-family: 'Playball', cursive;
color: #d46d9e;
}

.brand-name-dif{
color: #5e2f58;
} 

.slider{
height: 700px;
}

/* .inner-slider{
    height: 500px;
} */

.hero-cover{
    margin-left: 200px;
width: 1000px;
height: 500px;
}
/* Category */
.cat-name{
    text-align: center;
}

.home-header{
    font-size: 60px;
    /* font-family: 'Allura', cursive; */
    /* font-family: 'Dancing Script', cursive; */
    /* font-family: 'Great Vibes', cursive; */
    font-family: 'Marck Script', cursive;
    /* font-family: 'Pacifico', cursive; */
    color: #5e2f58;
    text-align: center;
    text-decoration: underline;
    margin-top: 5px;

}

.cat-img{
    height: fit-content;
    overflow: hidden;
}

.cat-img img{
    transition: transform .5s ease;
}

.cat-img:hover img{
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
}

.recipe-card {
    width: 300px;
  }


  .offscreen {
    position: absolute;
    left: -9999px;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}